body {
    font-family: 'Glory', sans-serif;
    background-color: rgb(219, 227, 230);
    text-align: center;
  }
  
  h1 {
    color: navy;
    text-align: center;
  }

#huomio {
      color:blueviolet;
  }

