
body {
    font-family: 'Glory', sans-serif;
    background-color: rgb(219, 227, 230);
}
  h1 {
    color: navy;
}
#huomio {
      color:blueviolet;
  }
/* Keskitys muille kuin puhelimille */
@media screen and (min-width: 768px) {
    body {
    text-align: center;
  } 
  h1 {
    text-align: center;
  }
}

